<div ng-controller="HomeController">
  <h3 class="col-md-12 text-center">Contact us</h3>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <form name="contactForm" ng-submit="send(contactForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>

      	 <div class="form-group" show-errors>
          <label for="from">From</label>
          <input type="text" id="from" name="from" class="form-control" ng-model="contact.from" placeholder="From"  required>
          <div ng-messages="contactForm.from.$error" role="alert">
            <p class="help-block error-text" ng-message="required">From is required.</p>
          </div>
        </div>

         <div class="form-group" show-errors>
          <label for="message">Message</label>
          <textarea type="message" id="message" name="message" class="form-control" ng-model="contact.message" placeholder="Message" required rows="8"></textarea>
          <div ng-messages="contactForm.message.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Message is required.</p>
          </div>
        </div>
       

       
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Send</button>
         
        </div>
        <div class="alert alert-success" ng-show="showSuccessAlert">
	   <strong>Thank you for getting in touch!</strong>
 	</div>
       
        <alert type="danger" ng-show="error" class="text-center text-danger">
          <span ng-bind="error"></span>
        </alert>
      </fieldset>
    </form>
  </div>
</div>

