<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    
    <br>
    <div class="row">
      <p class="lead">
        LightCoder is an online code compiler. It works in your web browser so no installation is needed.
        
      </p>
     
    </div>
      <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-bookmark"></span>Supported languages</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                          <a ui-sref="editors.main({language: 'Java'})" class="btn btn-danger btn-sm" role="button">Java</a>
                          <a ui-sref="editors.main({language: 'Go'})" class="btn btn-danger btn-sm" role="button">Go</a>
                          <a ui-sref="editors.main({language: 'Scala'})" class="btn btn-danger btn-sm" role="button">Scala</a>
                          <a ui-sref="editors.main({language: 'Python'})" class="btn btn-warning btn-sm" role="button">Python</a>
                          <a ui-sref="editors.main({language: 'Clojure'})" class="btn btn-warning btn-sm" role="button">Clojure</a>
                          <a ui-sref="editors.main({language: 'Ruby'})" class="btn btn-primary btn-sm" role="button">Ruby</a>
                         
                        </div>
                        <div class="col-xs-6 col-md-6">
                          <a ui-sref="editors.main({language: 'C%2FC++'})" class="btn btn-success btn-sm" role="button">C/C++</a>
                          <a ui-sref="editors.main({language: 'C#'})" class="btn btn-info btn-sm" role="button">C#</a>
                          <a ui-sref="editors.main({language: 'VB.NET'})" class="btn btn-primary btn-sm" role="button">VB.NET</a>
                          <a ui-sref="editors.main({language: 'Objective-C'})" class="btn btn-primary btn-sm" role="button">Obj-C</a>
                           <a ui-sref="editors.main({language: 'Perl'})" class="btn btn-primary btn-sm" role="button">Perl</a>
                           <a ui-sref="editors.main({language: 'PHP'})" class="btn btn-primary btn-sm" role="button">PHP</a>
                        </div>

                    </div>
                     <a ui-sref="editors.main({language: 'Perl'})" class="btn btn-success btn-lg btn-block" role="button"> Try it now !!</a>
                </div>
            </div>
        </div>
    </div>
  </div>
    <!-- Plans -->
    <section id="plans">
        <div class="container">
            <div class="row">

                <div class="col-md-4 text-center">
                </div>

                <!-- item -->
                <div class="col-md-4 text-center">
                   
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-4 text-center">
                    
                </div>
                <!-- /item -->

                 <div class="col-md-3 text-center">
                </div>

            </div>
        </div>
    </section>
    <!-- /Plans -->
  
  
</section>
